<%= form_for(@lugar) do |f| %>
  <% if @lugar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lugar.errors.count, "error") %> prohibited this lugar from being saved:</h2>

      <ul>
      <% @lugar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco_rua %><br />
    <%= f.text_area :endereco_rua %>
  </div>
  <div class="field">
    <%= f.label :endereco_numero %><br />
    <%= f.text_field :endereco_numero %>
  </div>
  <div class="field">
    <%= f.label :endereco_bairro %><br />
    <%= f.text_field :endereco_bairro %>
  </div>
  <div class="field">
    <%= f.label :endereco_cidade %><br />
    <%= f.text_field :endereco_cidade %>
  </div>
  <div class="field">
    <%= f.label :endereco_estado %><br />
    <%= f.text_field :endereco_estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
