<h1>Listing lugares</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Latitude</th>
    <th>Longitude</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lugares.each do |lugar| %>
  <tr>
    <td><%= lugar.tipo %></td>
    <td><%= lugar.nome %></td>
    <td><%= lugar.endereco %></td>
    <td><%= lugar.latitude %></td>
    <td><%= lugar.longitude %></td>

    <td><%= link_to 'Show', lugar %></td>
    <td><%= link_to 'Edit', edit_lugar_path(lugar) %></td>
    <td><%= link_to 'Destroy', lugar, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lugar', new_lugar_path %>
