<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @lugar.tipo %>
</p>

<p>
  <b>Nome:</b>
  <%= @lugar.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @lugar.endereco %>
</p>

<p>
  <b>Latitude:</b>
  <%= @lugar.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @lugar.longitude %>
</p>



<%= link_to 'Edit', edit_lugar_path(@lugar) %> |
<%= link_to 'Back', lugares_path %>
